html {
    background-color: #FFDAB9;
}

.main-container {
    max-width: 900px;
    margin: 2rem auto;
}

.video-js {
    width: 100%;
    height: 40%;
    aspect-ratio: 16/9;
}

.top-txt {
    text-align: center;
    /* font-family: 'Verdana', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.7rem;
    margin-bottom: 1.0rem;
}

.top-txt-instr {
    padding-top: 2rem;
    margin-bottom: 2.5rem;
}

.hint-txt {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.para-txt {
    text-align: left;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.big-txt {
    font-size: x-large;
}

.reminder-txt {
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.center-txt {
    text-align: center;
}

.action-txt {
    text-align: left;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5rem;
}

.progress-txt {
    font-size: smaller;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1rem;
    margin-bottom: -1rem;
    font-style: italic;
}

.q-txt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.section-hdr{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.under-video {
    margin-top: -1.5rem;
}

.hint-hdr{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-2px);
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.binary-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.big-btn {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 9px;
}

.yes-btn{
    background-color: #4CAF50;
    color: white;
}

.no-btn{
    background-color: #ef5350;
    color: white;
}

.act-btn{
    background-color: #2196F3;
    color: white;
}

hr.end-video-btm {
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border: #FFDAB9; */
}

.binary-btn-with-q {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.small-btn {
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.tool-btn {
    background-color: #ffca9a;
    color: black;
}

.cushion{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

br.small{
    padding-top: -2rem;
    padding-bottom: -2rem;
}

.section-hdr{
    margin-top: 2rem;
}

li {
    margin-bottom: 0.5rem;
}