<!-- WARNING: THIS FILE IS TEMPLATED WITH JINJA 3 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@4/+esm"></script>

    <title>Ai2 Prolific Survey</title>
</head>

<body>
    <div class="intro-container">
        <h1 class="top-txt" id="top">Welcome!</h1>
        <p class="para-txt">You will be provided with <b>{{videos | length}} videos</b> of <b>{{domain}}</b>.</p>

        <p class="para-txt">For each video, we have provided <b>descriptions</b> of both the <b>correct and incorrect ways to perform the given action</b>. We have also provided the start and end times of a segment in the video that is likely to contain both the correct and incorrect demonstrations.</p>
        
        <p class="para-txt">All segments and action descriptions have already been validated by Prolific annotators. However, some of the action names may be subpar, so <i>please</i> feel free to update the action names as you see fit.</p>

        <p class="para-txt">Your tasks are:</p>
        <ul class="para-txt">
            <li>Identify the <b>start and end times</b> of the video segment showing the <b>correct method</b> and write them in the corresponding text boxes.</li>
            <li>Identify the <b>start and end times</b> of the video segment showing the <b>wrong method</b> and write them in the corresponding text boxes.</li>
            <li>If you believe that either the correct or incorrect action does not appear in the video, please enter "NA" in the appropriate text box (entering it in the seconds box is sufficient).</li>
        </ul>
        
        <p class="para-txt"><b>Important:</b> The provided timestamps may not be exact. Please review the video from 10-15 seconds before the start time to 10-15 seconds after the end time to ensure nothing is missed.</p>
        <p class="para-txt">Note that the textboxes labeled 'm' are for minutes, and the textboxes labeled 's' are for seconds.</p>
    </div>

    <div class="user-input">

        <form name="annotations" action="/submit" onsubmit="return validateForm()" method="post">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="study_id" value="{{ study_id }}">
            <input type="hidden" name="session_id" value="{{ session_id }}">
            <input type="hidden" name="batch_uuid" value="{{ batch_uuid }}">
            <input type="hidden" name="video_count" value="{{ videos | length }}">
            <table>
                <thead>
                    <tr>
                        <th>Video</th>
                        <th>Annotations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in videos %}
                    <tr>
                        <td>
                            <p class="para-txt">Segment lasts from <b>{{starts[loop.index - 1]}}</b> to <b>{{ends[loop.index - 1]}}</b></p>
                            <iframe
                                width="700" 
                                height="400" 
                                src="https://www.youtube.com/embed/{{video[1]}}?start={{video[2]|int}}&rel=0"
                                title="YouTube Embed for Video # {{ loop.index }} with UUID {{ video[0] }}" 
                                frameborder="0" 
                                allow="clipboard-write; encrypted-media; picture-in-picture; web-share"
                                allowfullscreen>
                            </iframe>
                        </td>
                        <td>
                            <input hidden type="text" name="v{{ loop.index }}-uuid" value="{{ video[0] }}">
                            <!-- <hr style="margin-bottom:1.2rem"> -->
                            <label>Action Name:
                                <input type="text" name="action-{{ loop.index }}" value="{{video[4]}}" class="action-name">
                            </label>
                            <br>
                            <p style="font-size:medium">please update the textbox above if the provided name is inaccurate</p>
                            
                            <hr class="divide-annotations">

                            <p class="ref-txt"><i>Correct Description</i>: <span style="color:darkblue;">{{video[5]}}</span></p>
                            <p>Correct Segment:</p>
                            <input type="text" size="2" name="c-s-min-{{loop.index}}" id="c-start-min-{{ loop.index }}" class="min">
                            <label for="c-start-min-{{ loop.index }}" class="minutes">m</label>
                            <input type="text" size="2" name="c-s-sec-{{loop.index}}" id="c-start-sec-{{ loop.index }}" class="sec">
                            <label for="c-start-sec-{{ loop.index }}" class="seconds">s</label>
                            <span class='between-timestamps'>to</span>
                            <input type="text" size="2" name="c-e-min-{{loop.index}}" id="c-end-min-{{ loop.index }}" class="min">
                            <label for="c-end-min-{{ loop.index }}" class="minutes">m</label>
                            <input type="text" size="2" name="c-e-sec-{{loop.index}}" id="c-end-sec-{{ loop.index }}" class="sec">
                            <label for="c-end-sec-{{ loop.index }}" class="seconds">s</label>

                            <hr class="divide-annotations">

                            <p class="ref-txt"><i>Wrong Description</i>: <span style="color:darkblue;">{{video[6]}}</span></p>
                            <p>Wrong Segment:</p>
                            <input type="text" size="2" name="w-s-min-{{loop.index}}" id="w-start-min-{{ loop.index }}" class="min">
                            <label for="w-start-min-{{ loop.index }}" class="minutes">m</label>
                            <input type="text" size="2" name="w-s-sec-{{loop.index}}" id="w-start-sec-{{ loop.index }}" class="sec">
                            <label for="w-start-sec-{{ loop.index }}" class="seconds">s</label>
                            <span class='between-timestamps'>to</span>
                            <input type="text" size="2" name="w-e-min-{{loop.index}}" id="w-end-min-{{ loop.index }}" class="min">
                            <label for="w-end-min-{{ loop.index }}" class="minutes">m</label>
                            <input type="text" size="2" name="w-e-sec-{{loop.index}}" id="w-end-sec-{{ loop.index }}" class="sec">
                            <label for="w-end-sec-{{ loop.index }}" class="seconds">s</label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p hidden id="errorMsg" class="error-txt"></p>

            <div>
                <p class="para-txt center-txt">We are currently piloting this study interface. Please provide any feedback on it below.</p>
                <textarea type="text" class="feedback" name="feedback" id="feedback" rows="3" placeholder="Type your feedback here (optional)"></textarea>
            </div>

            <button type="submit" class="yes-btn bigg-btn">Submit</button>
        </form>

        <script>
            function validateForm() {
                error = document.getElementById('errorMsg');
                error.hidden = true;
                void error.offsetWidth; // force DOM update

                f = document.forms['annotations']
                for (let i = 1; i <= {{ videos | length }}; i++) {
                    if (f[`c-s-sec-${i}`].value.length === 0  || f[`c-e-sec-${i}`].value.length === 0) {
                        error.innerHTML = `ERROR: you must denote the start and end times of the <b>correct</b> segment <b>video #${i}</b>. If there is no instance of the action being performed correctly, please enter "NA" in all the boxes under "Correct Segment".`;
                        error.hidden = false;
                        return false;
                    }
                    if (f[`w-s-sec-${i}`].value.length === 0 || f[`w-e-sec-${i}`].value.length === 0) {
                        error.innerHTML = `ERROR: you must denote the start and end times of the <b>wrong</b> segment <b>video #${i}</b>. If there is no instance of the action being performed correctly, please enter "NA" in all the boxes under "Wrong Segment".`;
                        error.hidden = false;
                        return false;
                    }
                    if (f[`action-${i}`].value.length === 0) {
                        error.innerHTML = `ERROR: the action for <b> video #${i}</b> cannot be empty. If in doubt, please use the action name we originally provided.`
                        error.hidden = false;
                        return false;
                    }
                }
                error.hidden = true;
                return true;
            }
        </script>
    </div>
</body>

<footer>
    <div class="logos">
        <a href="https://raivn.cs.washington.edu/" target="_blank"> <img class="footer-logo"
                src="{{url_for('static', filename='uw.png')}}" alt="UW CSE RAIVN Lab"> </a>
        <a href="https://allenai.org/" target="_blank"><img class="footer-logo"
                src="{{url_for('static', filename='ai2.png')}}" alt="Ai2"></a>
    </div>
</footer>