<!-- WARNING: THIS FILE IS TEMPLATED WITH JINJA 3 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} ">
    <title>Ai2 Prolific Survey</title>
</head>

<body>
    <div class="main-container">
        <h1 class="top-txt top-txt-instr">Survey Finished 🎉</h1>
        <p class="para-txt center-txt">Thank you for your help! This data will help improve video action recognition in AI models.</p>
        <p class="reminder-txt center-txt">You must click the button below to ensure that Prolific knows that you finished the survey.</p>
        <form>
            <div class="binary-btns" style="margin-top:2rem;">
                <button formaction="https://app.prolific.com/submissions/complete?cc={{completion_code}}" class="big-btn yes-btn">Mark Survey as Completed on Prolific</button>
            </div>
        </form>
        </form>
    </div>
</body>