<!-- WARNING: THIS FILE IS TEMPLATED WITH JINJA 3 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Ai2 Prolific Survey</title>
</head>

<body>
    <div class="main-container">
        <div id="instructions">
            <h1 class="top-txt">Welcome!</h1>
            <p class="para-txt">We are a team of researchers <b>evaluating</b> the ability of AI models to <b>recognize actions</b> in videos.</p>
            <p class="para-txt">To this end, we are collecting <b>short clips</b> that contain <b>{{domain_name_lowercase}} actions</b>.</p>
            <hr>
            <p class="para-txt">You are provided with the name of a {{domain_name_lowercase}} action.</p>
            <p class="para-txt">Your job is to go on YouTube and find <b>7 videos</b> that include the specified action.</p>
            <p class="para-txt">For each video, you must identify a <b>segment</b> of the video <b>where the action occurs</b>.</p>
            <p class="para-txt">You will be asked to report the <b>start and end times</b> (in seconds) of each segment.</p>
            <p class="para-txt">Ensure that each segment includes only <b>one instance</b> of the action.</p>
            <p class="para-txt">Ensure that there is <b>NOT large text</b> on the screen during your chosen segment.</p>
            <p class="para-txt">No more than 3 of the 7 YouTube videos you find may be from YouTube Shorts.</p>
            <p class="para-txt">Please include segments from the beginning, middle, and end of videos. Do NOT only include segments from the very start or very end of videos.</p>
            <p class="para-txt">You may enter the segment start/end times as <b>seconds</b> or <b>timestamps</b>. For example, if the segment starts 2 minutes and 12 seconds into the video, you could enter it as "132" or "2:12". If you do the latter, please <b>remember the colon</b>.</p>
            <p class="para-txt attention-txt">If this is your first time completing this survey, please <a href="https://homes.cs.washington.edu/~tanush/collection_tutorial.mp4" target="_blank">watch this tutorial</a>.</p>
            <hr>
        </div>

        <div class="user-input">
            <form id="clipsForm" action="{{url_for('process_action')}}">
                <p class="action-txt">Domain Name: <b>{{domain_name}}</b></p>
                {% if subdomain is not none %} <p class="action-txt">Action Type: <b>{{subdomain}}</b></p> {% endif %}
                <p class="action-txt">Action Name: <b>{{action_name}}</b></p>
                {% if definition %}
                <hr>
                <p class="para-txt">
                    For your convenience, a definition of the action is provided below.
                </p>
                <p class="para-txt">
                    <b>{{action_name}}</b>: {{definition}}
                </p>
                <hr>
                {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>YouTube URL</th>
                            <th>Start Time<br><span class="units">(MM:SS or seconds)</span></th>
                            <th>End Time<br><span class="units">(MM:SS or seconds)</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input required type="text" class="url" name="url1"></td>
                            <td><input required type="text" class="time" name="start1"></td>
                            <td><input required type="text" class="time" name="end1"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" class="url" name="url2"></td>
                            <td><input required type="text" class="time" name="start2"></td>
                            <td><input required type="text" class="time" name="end2"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" class="url" name="url3"></td>
                            <td><input required type="text" class="time" name="start3"></td>
                            <td><input required type="text" class="time" name="end3"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" class="url" name="url4"></td>
                            <td><input required type="text" class="time" name="start4"></td>
                            <td><input required type="text" class="time" name="end4"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" class="url" name="url5"></td>
                            <td><input required type="text" class="time" name="start5"></td>
                            <td><input required type="text" class="time" name="end5"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" class="url" name="url6"></td>
                            <td><input required type="text" class="time" name="start6"></td>
                            <td><input required type="text" class="time" name="end6"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" class="url" name="url7"></td>
                            <td><input required type="text" class="time" name="start7"></td>
                            <td><input required type="text" class="time" name="end7"></td>
                        </tr>
                    </tbody>
                </table>

                <p class="para-txt center-txt">Once you are done, please double check your segments before pressing the blue button below.</p>
                
                <button id="validateBtn" type="button" class="big-btn act-btn">Validate</button>
                
                <p hidden id="errorMsg" class="error-txt"></p>
                <p hidden id="confirmMsg" class="confirm-txt"></p>

                <div id="submitDiv" hidden>
                    <p class="para-txt center-txt">We are currently piloting this study interface. Please provide any feedback on it below.</p>
                    <textarea type="text" class="feedback" name="feedback" id="feedback" rows="3" placeholder="Type your feedback here"></textarea>
                    <button id="submitBtn" type="submit" class="big-btn yes-btn">Submit</button>
                </div>
                    
            </form>
        </div>
    </div>

    <dialog id="redirectDialog">
        <p class="dialog-txt">You have finished the task! Press the button below to earn Prolific credit for your work.</p>
        <a id="redirectBtn" href="" target="_blank" class="dialog-btn">Mark as Completed on Prolific</a>
    </dialog>

    <script>
        NUM_CLIPS = 7;

        let scrolled = false;
        document.getElementById('validateBtn').addEventListener('click', () => {
            // hide messages immediately
            document.getElementById('errorMsg').hidden = true;
            document.getElementById('confirmMsg').hidden = true;
            document.getElementById('submitDiv').hidden = true;
            void document.getElementById('errorMsg').offsetWidth;

            // get form data
            const form = document.getElementById('clipsForm');
            const data = new FormData(form);

            let error = '';
            
            // form validation: ensure provided URLs are indeed YouTube URLs
            const urls = new Map();
            for (let i = 1; i <= NUM_CLIPS; i++) {
                let url_string = data.get(`url${i}`);
                try {
                    // ensure its a valid URL
                    url = new URL(url_string);
                } catch (error) {
                    try {
                        // if that didn't work, try appending 'https://' and see if its a valid URL now
                        url = new URL(`https://${url_string}`);
                    } catch (error) {
                        // still didn't work? ok, not a valid URL then, error out
                        error = `ERROR: the provided URL for video #${i} could not be parsed as a URL.`;
                        break;
                    }
                }

                // ok its a valid URL, let's make sure its a YouTube URL
                let hostname = url.hostname;
                if (!hostname.endsWith('youtube.com') && !hostname.endsWith('youtu.be')) {
                    error = `ERROR: the provided URL for video #${i} could not be interpreted as a YouTube URL.`;
                    break;
                }

                // ok, it's a valid YT URL, let's make sure it's distinct from the other URLs we were given
                yt = url.href
                if (urls.get(yt) == undefined) {
                    urls.set(yt, i);
                } else {
                    other = urls.get(yt);
                    error = `ERROR: the URL for video #${i} and video #${other} are identical. Please provide segments from distinct YouTube videos.`;
                    break;
                }
            }

            // form validation: ensure provided start and end times are reasonable
            for (let i = 1; i <= NUM_CLIPS && error === ''; i++) {
                // convert start and end times from text inputs to numbers
                let start = data.get(`start${i}`);
                let end = data.get(`end${i}`);
                if (start.includes(':')) {
                    const tmp = start.trim().split(":")
                    if (tmp.length !== 2) {
                        error = `ERROR: the start time for video #${i} must have the format MM:SS or the format SS where MM is minutes and SS is seconds. For example, 5:12 or 14:01 or 54 all work.`;
                        break;
                    }
                    try {
                        start = 60 * Number(tmp[0]) + Number(tmp[1])
                    } catch {
                        error = `ERROR: the start time for video #${i} must have the format MM:SS or the format SS where MM is minutes and SS is seconds. For example, 5:12 or 14:01 or 54 all work.`;
                        break;
                    }
                    
                } else start = Number(start);

                if (end.includes(':')) {
                    const tmp = end.trim().split(":")
                    if (tmp.length !== 2) {
                        error = `ERROR: the start end for video #${i} must have the format MM:SS or the format SS where MM is minutes and SS is seconds. For example, 5:12 or 14:01 or 54 all work.`;
                        break;
                    }
                    try {
                        end = 60 * Number(tmp[0]) + Number(tmp[1])
                    } catch {
                        error = `ERROR: the start time for video #${i} must have the format MM:SS or the format SS where MM is minutes and SS is seconds. For example, 5:12 or 14:01 or 54 all work.`;
                        break;
                    }
                } else end = Number(end);

                // validate start and end times
                if (start < 0 || end < 0) {
                    error = `ERROR: the start and end times for video #${i} cannot be negative.`;
                    break;
                }
                if (end <= start) {
                    error = `ERROR: the segment start time for video #${i} must precede the end time.`;
                    break;
                }
            }

            // display error message and return early if validation failed
            if (error !== '') {
                document.getElementById('confirmMsg').hidden = true;
                document.getElementById('submitDiv').hidden = true;
                document.getElementById('errorMsg').textContent = error;
                document.getElementById('errorMsg').hidden = false;
                if (!scrolled) {
                    document.getElementById('errorMsg').scrollIntoView({behavior: "smooth"});
                    scrolled = true;
                }
                return;
            }
            
            // control reaching here indicates that form inputs are valid
            document.getElementById('errorMsg').hidden = true;
            document.getElementById('submitDiv').hidden = false;
            document.getElementById('confirmMsg').textContent = 'Your inputs look good. Please answer the question below and then press the green button.';
            document.getElementById('confirmMsg').hidden = false;
            if (!scrolled) {
                document.getElementById('confirmMsg').scrollIntoView({behavior: "smooth"});
                scrolled = true;
            }
        });

        document.getElementById('submitBtn').addEventListener('click', (event) => {
            event.preventDefault()
            const form = document.getElementById('clipsForm');
            const data = new FormData(form);
            data.set('action_id', '{{action_id}}')
            data.set('token', '{{token}}')
            data.set('user_id', '{{user_id}}')
            data.set('study_id', '{{study_id}}')
            data.set('session_id', '{{session_id}}')
            data.set('feedback', document.getElementById('feedback').value)

            // submit POST request to backend to save clips to database
            fetch("{{url_for('process_action')}}", {
                method: 'POST',
                body: data
            }).then(res => {
                if (res.ok) {
                    res.text().then(url => {
                        document.getElementById('redirectBtn').href = url;
                        document.getElementById('redirectDialog').showModal();
                    })
                } else {
                    res.text().then(err => {
                        alert(err);
                    })
                }
            }).catch(err => {
                console.log("ERROR: ", err);
                alert("An error occured while submitting your clips.")
            });
        });

        // make it impossible to close the Prolific redirect
        const dialog = document.getElementById('redirectDialog')
        dialog.addEventListener('keydown', (event) => {
            if (event.key === 'Escape') {
                event.preventDefault();
            }
        })
    </script>
</body>

<footer>
    <!-- <p>This research is being conducted by the University of Washington and the Allen Institute for Artificial Intelligence.</p> -->
    <div class="logos">
        <a href="https://raivn.cs.washington.edu/" target="_blank"> <img class="footer-logo" src="{{url_for('static', filename='uw.png')}}" alt="UW CSE RAIVN Lab"> </a>
        <a href="https://allenai.org/" target="_blank"><img class="footer-logo" src="{{url_for('static', filename='ai2.png')}}" alt="Ai2"></a>
    </div>
</footer>