<!-- WARNING: THIS FILE IS TEMPLATED WITH JINJA 3 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Ai2 Prolific Survey</title>
</head>

<body>
    <div class="main-container">
        <div id="instructions">
            <h1 class="top-txt">Welcome!</h1>
            <p class="para-txt">We are a team of researchers <b>evaluating</b> the ability of AI models to <b>recognize actions</b> in videos.</p>
            <p class="para-txt">To this end, we are collecting <b>short clips</b> that contain <b>skateboarding tricks</b>.</p>
            <hr>
            <p class="para-txt">You are provided with the name of a skateboarding action.</p>
            <p class="para-txt">Your job is to go on YouTube and find <b>6 videos</b> that include the specified skateboarding action.</p>
            <p class="para-txt">For each video, you must identify a <b>segment</b> of the video <b>where the skateboarding action occurs</b>.</p>
            <p class="para-txt">You will be asked to report the <b>start and end times</b> (in seconds) of each segment.</p>
            <p class="para-txt">To summarize, you must find a total of 6 YouTube videos and 6 segments (one per YouTube video).</p>
            <hr>
        </div>

        <div class="user-input">
            <form id="clipsForm" action="{{url_for('process_action')}}">
                <p class="action-txt">Action Name: <b>{{action_name}}</b></p>
                <table>
                    <thead>
                        <tr>
                            <th>YouTube URL</th>
                            <th>Start Time (seconds)</th>
                            <th>End Time (seconds)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input required type="text" name="url1"></td> <td><input required type="number" name="start1"></td> <td><input required type="number" name="end1"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" name="url2"></td> <td><input required type="number" name="start2"></td> <td><input required type="number" name="end2"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" name="url3"></td> <td><input required type="number" name="start3"></td> <td><input required type="number" name="end3"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" name="url4"></td> <td><input required type="number" name="start4"></td> <td><input required type="number" name="end4"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" name="url5"></td> <td><input required type="number" name="start5"></td> <td><input required type="number" name="end5"></td>
                        </tr>
                        <tr>
                            <td><input required type="text" name="url6"></td> <td><input required type="number" name="start6"></td> <td><input required type="number" name="end6"></td>
                        </tr>
                    </tbody>
                </table>

                <p class="para-txt center-txt">Once you are done, please double check your segments before pressing the blue button below.</p>
                
                <button id="validateBtn" type="button" class="big-btn act-btn">Validate</button>
                
                <p hidden id="errorMsg" class="error-txt"></p>
                <p hidden id="confirmMsg" class="confirm-txt"></p>

                <div id="submitDiv" hidden>
                    <button id="submitBtn" type="submit" class="big-btn yes-btn">Submit</button>
                </div>
                    
            </form>
        </div>
    </div>

    <script>
        let scrolled = false;

        document.getElementById('validateBtn').addEventListener('click', () => {
            // hide messages immediately
            document.getElementById('errorMsg').hidden = true;
            document.getElementById('confirmMsg').hidden = true;
            document.getElementById('submitDiv').hidden = true;
            void document.getElementById('errorMsg').offsetWidth;

            // get form data
            const form = document.getElementById('clipsForm');
            const data = new FormData(form);

            let error = '';
            
            // form validation: ensure provided URLs are indeed YouTube URLs
            const urls = new Map();
            for (let i = 1; i <= 6; i++) {
                let url_string = data.get(`url${i}`);
                try {
                    // ensure its a valid URL
                    url = new URL(url_string);
                } catch (error) {
                    try {
                        // if that didn't work, try appending 'https://' and see if its a valid URL now
                        url = new URL(`https://${url_string}`);
                    } catch (error) {
                        // still didn't work? ok, not a valid URL then, error out
                        error = `ERROR: the provided URL for video #${i} could not be parsed as a URL.`;
                        break;
                    }
                }

                // ok its a valid URL, let's make sure its a YouTube URL
                let hostname = url.hostname;
                if (!hostname.endsWith('youtube.com') && !hostname.endsWith('youtu.be')) {
                    error = `ERROR: the provided URL for video #${i} could not be interpreted as a YouTube URL.`;
                    break;
                }

                // ok, it's a valid YT URL, let's make sure it's distinct from the other URLs we were given
                yt = url.href
                if (urls.get(yt) == undefined) {
                    urls.set(yt, i);
                } else {
                    other = urls.get(yt);
                    error = `ERROR: the URL for video #${i} and video #${other} are identical. Please provide segments from distinct YouTube videos.`;
                    break;
                }
            }

            console.log(urls);

            // form validation: ensure provided start and end times are reasonable
            for (let i = 1; i <= 6 && error === ''; i++) {
                let start = Number(data.get(`start${i}`));
                let end = Number(data.get(`end${i}`));
                if (start < 0 || end < 0) {
                    error = `ERROR: the start and end times for video #${i} cannot be negative.`;
                    break;
                }
                if (end <= start) {
                    error = `ERROR: the segment start time for video #${i} must precede the end time.`;
                    break;
                }
            }

            // display error message and return early if validation failed
            if (error !== '') {
                document.getElementById('confirmMsg').hidden = true;
                document.getElementById('submitDiv').hidden = true;
                document.getElementById('errorMsg').textContent = error;
                document.getElementById('errorMsg').hidden = false;
                if (!scrolled) {
                    document.getElementById('errorMsg').scrollIntoView({behavior: "smooth"});
                    scrolled = true;
                }
                return;
            }
            
            // control reaching here indicates that form inputs are valid
            document.getElementById('errorMsg').hidden = true;
            document.getElementById('submitDiv').hidden = false;
            document.getElementById('confirmMsg').textContent = 'Your inputs look good. Please press the green button below to submit your work.';
            document.getElementById('confirmMsg').hidden = false;
            if (!scrolled) {
                document.getElementById('confirmMsg').scrollIntoView({behavior: "smooth"});
                scrolled = true;
            }
        });

        document.getElementById('submitBtn').addEventListener('click', (event) => {
            event.preventDefault()
            const form = document.getElementById('clipsForm');
            const data = new FormData(form);
            data.set('action_id', '{{action_id}}')
            data.set('token', '{{token}}')
            data.set('user_id', '{{user_id}}')
            data.set('study_id', '{{study_id}}')
            data.set('session_id', '{{session_id}}')

            // submit POST request to backend to save clips to database
            fetch("{{url_for('process_action')}}", {
                method: 'POST',
                body: data
            }).then(res => {
                if (res.ok) {
                    res.text().then(html => {
                        document.open();
                        document.write(html);
                        document.close();
                    });
                } else {
                    res.text().then(err => {
                        alert(err);
                    })
                }
            }).catch(err => {
                console.log("ERROR: ", err);
                alert("An error occured while submitting your clips.")
            });
        })
    </script>
</body>

<footer>
    <!-- <p>This research is being conducted by the University of Washington and the Allen Institute for Artificial Intelligence.</p> -->
    <div class="logos">
        <a href="https://raivn.cs.washington.edu/" target="_blank"> <img class="footer-logo" src="{{url_for('static', filename='uw.png')}}" alt="UW CSE RAIVN Lab"> </a>
        <a href="https://allenai.org/" target="_blank"><img class="footer-logo" src="{{url_for('static', filename='ai2.png')}}" alt="Ai2"></a>
    </div>
</footer>