<!-- WARNING: THIS FILE IS TEMPLATED WITH JINJA 3 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@4/+esm"></script>

    <link href="https://vjs.zencdn.net/8.20.0/video-js.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='videojs-trimmer.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <script src="https://vjs.zencdn.net/8.20.0/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-offset@2.1.3/dist/videojs-offset.min.js"></script>
    <script src="{{ url_for('static', filename='videojs-trimmer.js') }}"></script>

    <title>Ai2 Prolific Survey</title>
</head>

<body>
    <h1 class="top-txt" id="top">Welcome!</h1>

    <hr class="section-marker">

    <div class="intro-container">
        <p class="para-txt">
            You are provided with <b>{{num_good + num_bad}}</b> clips of {{domain_name | lower}}.
        </p>
        <p class="para-txt">
            Each clip includes a <b>{{action_name}}</b>, which is an {% if subdomain is none or subdomain[0]|lower in ['a', 'e', 'i', 'o', 'o'] %} an {% else %} a {% endif%} <b> {{subdomain or 'action'}} </b> in <b>{{domain_name | lower}}</b>.
        </p>
        <p class="para-txt">
            You will help us ensure that these clips are well-trimmed.
        </p>
        <hr>
        <p class="para-txt">
            Clips are either "well-trimmed" or "poorly-trimmed".
        </p>
        <p class="para-txt">
            We say that a clip is well-trimmed if the clip contains the entirety of the action and not much else.
        </p>
        <p class="para-txt">
            On the other hand, a clip is poorly-trimmed if <b>at least one</b> of the following conditions are met:
        </p>
        <ul>
            <li class="para-txt">it does not contain the entirety of the action,</li>
            <li class="para-txt">it contains {{domain_name | lower}} actions other than the desired action,</li>
            <li class="para-txt">there is a noticeable delay between the beginning of the clip and when the action starts,</li>
            <li class="para-txt">there is a noticeable delay between when the action finishes and the ending of the clip.</li>
        </ul>
        <hr>
        <p class="para-txt">
            Of the <b>{{num_good + num_bad}}</b> total clips, another Prolific annotator determined that <b>{{num_good}}</b> of them {% if num_good == 1 %} was {% else %} were {% endif %} well-trimmed, while the remaining <b>{{num_bad}}</b> {% if num_bad == 1 %} clip was {% else %} clips were {% endif %} poorly-trimmed.
        </p>
        <p class="para-txt">
            Your job is two-fold: first, you will watch the {{num_good}} well-trimmed {% if num_good == 1 %} clip {% else %} clips {% endif %} to get a sense of what a {{action_name}} in {{domain_name | lower}} looks like; then, you will watch the {{num_bad}} poorly-trimmed {% if num_bad == 1 %} clip {% else %} clips {% endif %} and adjust {% if num_bad == 1%} its trimming {% else %} their trimmings {% endif %} so that {% if num_bad == 1 %} it {% else %} they {% endif %} become well-trimmed.
        </p>
        <p class="para-txt">
            Lastly, we want to ensure that none of the clips contain any text on-screen that writes out "{{action_name}}". If such text is in the original poorly-trimmed clip, please try to trim it out. If your updated trimming still includes the text, please indicate so using the provided checkbox.
        </p>
        <!-- <p class="para-txt attention-txt">
            If this is your first time completing this survey, please <a href="https://homes.cs.washington.edu/~tanush/trimming_tutorial.mp4" target="_blank">watch this tutorial</a>.
        </p> -->
    </div>

    <hr class="section-marker">

    <div class="example-videos">
        <p class="para-txt center-txt">
            The following videos are examples of <b>well-trimmed</b> clips of the <b>{{action_name}}</b> {%if subdomain%} {{subdomain|lower}} {% else %} action {% endif %}in <b>{{domain_name | lower}}</b>.
        </p>
        {% for c in good_clips%}
        <div id="div-good-{{loop.index}}" class="good-div">
            <media-controller>
                <video slot="media" muted src="{{ c.exact_url }}" style="max-height:600px;" id="video-good-{{loop.index}}">
                </video>
                <media-control-bar>
                    <media-play-button></media-play-button>
                    <media-mute-button></media-mute-button>
                    <!-- <media-volume-range></media-volume-range> -->
                    <media-time-display></media-time-display>
                    <media-time-range></media-time-range>
                    <media-playback-rate-button rates="0.25 0.5 1 1.5 2"></media-playback-rate-button>
                    <media-fullscreen-button id="btn-good-{{loop.index}}"></media-fullscreen-button>
                </media-control-bar>
            </media-controller>
        </div>
        {% endfor %}
    </div>

    <hr class="section-marker">

    <div class="user-input">
        <p class="para-txt center-txt">
            The videos below contain <b>poorly trimmed</b> clips.
        </p>
        <p class="para-txt center-txt">
            The clips are denoted by the yellow bar; their start and end times are denoted by the cyan markers
        </p>
        <p class="para-txt center-txt">
            Please fix the trimmings. Once you are done processing a clip, you can preview your trimming with the blue button.
        </p>
        <div id="form">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="study_id" value="{{ study_id }}">
            <input type="hidden" name="session_id" value="{{ session_id }}">
            <input type="hidden" name="action_id" value="{{ action_id }}">
            <input type="hidden" name="clip_count" value="{{ clips | length }}">
            <table>
                <thead>
                    <tr>
                        <th>Original Clip</th>
                        <th>Your New Trimming</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in bad_clips %}
                    <tr>
                        <td>
                            <!-- cushioned video with trimming UI -->
                            <video id="bad-video-{{loop.index}}" class="video-js cushion" controls muted preload="auto" data-setup="{}">
                                <source src="{{ c.cushion_url }}" type="video/mp4" />
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>

                            <!-- buttons to help with trimming -->
                            <div class="binary-btns">
                                <button type="button" class="small-btn tool-btn" id="move-start-btn" onclick="moveStart({{loop.index}})">
                                    Move clip's <strong>start</strong> to <br> current position in video
                                </button>
                                <button type="button" class="small-btn tool-btn" id="move-end-btn" onclick="moveEnd({{loop.index}})">
                                    Move clip's <strong>end</strong> to <br> current position in video
                                </button>
                                <button type="button" class="act-btn big-btn" onclick="previewClip({{loop.index}})">Preview</button>
                            </div>
                        </td>
                        <td>
                            <!-- result of user trimming -->
                            <div hidden id="confirm-div-{{loop.index}}">
                                <video id="confirm-video-{{loop.index}}" class="video-js cushion" controls muted preload="auto" data-setup="{}">
                                    <source src="{{ c.cushion_url}}" type="video/mp4" />
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                    </p>
                                </video>
                                <br>
                                <input type="checkbox" id="onscreen-text-{{loop.index}}">
                                <label for="onscreen-text-{{loop.index}}">My updated clip still includes the text "{{action_name}}".</label>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <div>
                <p class="para-txt center-txt">We are currently piloting this study interface. Please provide any feedback on it below.</p>
                <textarea type="text" class="feedback" name="feedback" id="feedback" rows="3" placeholder="Type your feedback here"></textarea>
            </div>
            
            <p hidden id="errorMsg" class="error-txt"></p>

            <button onclick="validateAndSubmitForm()" class="yes-btn bigg-btn">Submit</button>
        </div>
    </div>

        <script>
            // media-controller element (used only for well trimmed clips) has bug with full screen. code below fixes this.
            for (let i = 1; i <= {{ num_good }}; i++){
                const fullScreen = document.getElementById(`btn-good-${i}`);
                const video = document.getElementById(`video-good-${i}`);
                fullScreen.addEventListener('click', () => {
                    video.style.maxHeight = 'none';
                    currentFullscreenVideo = video;
                })
            }
            document.addEventListener('fullscreenchange', handleFullscreenChange);
            document.addEventListener('webkitfullscreenchange', handleFullscreenChange); // Safari
            document.addEventListener('mozfullscreenchange', handleFullscreenChange); // Firefox
            document.addEventListener('MSFullscreenChange', handleFullscreenChange); // IE/Edge
            function handleFullscreenChange() {
                if (!document.fullscreenElement && !document.webkitFullscreenElement && !document.mozFullScreenElement && !document.msFullscreenElement) {
                    currentFullscreenVideo.style.maxHeight = '600px';
                    currentFullscreenVideo = null;
                }
            }

            let players = [];
            let trimmers = [];
            let starts = [];
            let ends = [];
            let badClips = {{ bad_clips | tojson | safe }};
            window.addEventListener('DOMContentLoaded', function() {
                // instantiate videojs objects and trimmers for all the bad clips
                for (let i = 1; i <= {{ num_bad }}; i++) {
                    players.push(videojs(`bad-video-${i}`, {
                        controls: true,
                        autoplay: false,
                        responsive: true,
                        playbackRates: [0.25, 0.5, 1, 1.5, 2],
                    }));
                    players[i - 1].muted(true);
                    players[i - 1].controlBar.volumePanel.hide();
                    
                    trimmers.push(players[i - 1].trimmer());
                    let s = badClips[i - 1]["og_start"] - badClips[i - 1]["cushion_start"];
                    let e = 1 + badClips[i - 1]["og_end"] - badClips[i - 1]["cushion_start"];
                    e = Math.min(e, players[i-1].duration());
                    trimmers[i - 1].startTime = s;
                    trimmers[i - 1].endTime = e;
                    trimmers[i - 1].updateTrimmer();
                    starts.push(s);
                    ends.push(e);
                }

                // uncheck all boxes (neccessary to clear cache)
                for (let i = 1; i <= {{ num_bad }}; i++) {
                    document.getElementById(`onscreen-text-${i - 1}`).checked = false;
                }
                
                // double-check that trimmer has been initialized correctly
                resetTrimmer();
            });

            function resetTrimmer() {
                for (let i = 1; i < {{num_bad}}; i++) {
                    let tmp = Math.min(players[i-1].duration(), 1 + badClips[i - 1]['og_end'] - badClips[i - 1]['cushion_start']);
                    trimmers[i - 1].endTime = tmp;
                    ends[i - 1] = tmp;
                }
            }

            // instantiate videojs objects for the user clip previews
            let previewPlayers = [];
            for (let i = 1; i <= {{ num_bad }}; i++) {
                previewPlayers.push(videojs(`confirm-video-${i}`, {
                    controls: true,
                    autoplay: false,
                    responseive: true,
                    playbackRates: [0.25, 0.5, 1, 1.5, 2],
                }));
                previewPlayers[i - 1].muted(true);
                previewPlayers[i - 1].controlBar.volumePanel.hide();
            }
            
            // set up the "move clip's start/end to current position in video" buttons
            function moveStart(idx) {
                let player = players[idx - 1];
                let trimmer = trimmers[idx - 1];
                let curr = player.currentTime();
                if (curr < 0 || curr > player.duration()) {
                    alert('Invalid start time specified!');
                    return
                }
                if (curr > trimmer.endTime) {
                    trimmer.endTime = curr;
                }
                trimmer.startTime = curr;
                trimmer.updateTrimmer();
            }

            function moveEnd(idx) {
                let player = players[idx - 1];
                let trimmer = trimmers[idx - 1];
                let curr = player.currentTime();
                if (curr < 0 || curr > player.duration()) {
                    alert('Invalid end time specified!')
                    return
                }
                if (curr < trimmer.startTime) {
                    trimmer.startTime = curr;
                }
                trimmer.endTime = curr;
                trimmer.updateTrimmer();
            }

            // allow users to preview their trimming
            function previewClip(idx) {
                let s = trimmers[idx - 1].startTime
                let e = trimmers[idx - 1].endTime
                previewPlayers[idx - 1].offset({
                    start: s,
                    end: e,
                    restart_beginning: true
                });
                starts[idx - 1] = s;
                ends[idx - 1] = e;
                previewPlayers[idx - 1].currentTime(0);
                document.getElementById(`confirm-div-${idx}`).removeAttribute('hidden');
            }

            function validateAndSubmitForm() {
                // hide error
                const error = document.getElementById('errorMsg');
                error.hidden = true;
                void error.offsetWidth; // force DOM update

                data = new FormData();
                data.append('user_id', '{{user_id}}');
                data.append('study_id', '{{study_id}}');
                data.append('session_id', '{{study_id}}');
                data.append('action_id', '{{action_id}}');
                data.append('num_trims', {{num_bad}});
                // for each poorly trimmed clip,
                for (var i = 1; i <= {{num_bad}}; i++) {
                    // check that the clip has been previewed
                    if (document.getElementById(`confirm-div-${i}`).hidden) {
                        error.textContent = `Error with Clip #${i}: you must preview your clip before submitting.`
                        error.hidden = false;
                        return;
                    }

                    let trimmer = trimmers[i - 1];
                    let s = starts[i - 1];
                    let e = ends[i - 1];
                    // check that the user hasn't adjusted the trim since the last update
                    if (trimmer.startTime != s || trimmer.endTime != e) {
                        error.textContent = `Error with Clip #${i}: please press the blue 'preview' button to double-check your updated clip.`;
                        error.hidden = false;
                        return
                    }

                    // sanity check the start and end times
                    if (s > e) {
                        error.textContent = `Error with Clip #${i}: your chosen start time precedes your chosen end time.`;
                        error.hidden = false;
                        return
                    }
                    let duration = players[i - 1].duration();
                    if (s < 0 || s > duration) {
                        error.textContent = `Error with Clip #${i}: your chosen start time must be between 0 and the duration of the provided video.`;
                        error.hidden = false;
                        return
                    }
                    if (e < 0 || e > duration) {
                        error.textContent = `Error with Clip #${i}: your chosen end time must be between 0 and the duration of the provided video.`;
                        error.hidden = false;
                        return
                    }

                    // package start and end times to send to backend
                    data.append(`uuid${i}`, badClips[i - 1].uuid);
                    data.append(`cushion_start${i}`, badClips[i - 1].cushion_start);
                    data.append(`start${i}`, s);
                    data.append(`end${i}`, e);

                    // check for text on-screen
                    let clipContainsText = document.getElementById(`onscreen-text-${i}`).checked;
                    data.append(`checked${i}`, clipContainsText);
                }

                data.append('feedback', document.getElementById('feedback').value);
                console.log(data);

                fetch('{{ url_for("submit_trims") }}', {
                    method: 'POST',
                    body: data
                }).then(async res => {
                    content = await res.text();
                    if (!res.ok) throw Error(content);
                    else document.documentElement.innerHTML = content;
                }).catch(err => {
                    error.innerHTML = `The following error occured while processing your trimming. <br> <i style='font-size: large'>${err}</i>`;
                    error.hidden = false;
                });
            }
        </script>
</body>

<footer>
    <div class="logos">
        <a href="https://raivn.cs.washington.edu/" target="_blank"> <img class="footer-logo"
                src="{{url_for('static', filename='uw.png')}}" alt="UW CSE RAIVN Lab"> </a>
        <a href="https://allenai.org/" target="_blank"><img class="footer-logo"
                src="{{url_for('static', filename='ai2.png')}}" alt="Ai2"></a>
    </div>
</footer>