<!-- WARNING: THIS FILE IS TEMPLATED WITH JINJA 3 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@4/+esm"></script>

    <title>Ai2 Prolific Survey</title>
</head>

<body>
    <div class="intro-container">
        <h1 class="top-txt" id="top">Welcome!</h1>
        <p class="para-txt">You will be provided with <b>{{videos | length}} videos</b> of <b>{{domain}}</b>.</p>
    </div>

    <div class="user-input">

        <form name="annotations" action="/submit" onsubmit="return validateForm()" method="post">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="study_id" value="{{ study_id }}">
            <input type="hidden" name="session_id" value="{{ session_id }}">
            <input type="hidden" name="batch_uuid" value="{{ batch_uuid }}">
            <input type="hidden" name="video_count" value="{{ videos | length }}">
            <table>
                <thead>
                    <tr>
                        <th>Video</th>
                        <th>Annotations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in videos %}
                    <tr>
                        <td>
                            <iframe 
                                width="700" 
                                height="400" 
                                src="https://www.youtube.com/embed/{{video[1]}}?start={{video[2]|int}}&rel=0"
                                title="YouTube Embed for Video # {{ loop.index }} with UUID {{ video[0] }}" 
                                frameborder="0" 
                                allow="clipboard-write; encrypted-media; picture-in-picture; web-share"
                                allowfullscreen>
                            </iframe>
                        </td>
                        <td>
                            <input hidden type="text" name="v{{ loop.index }}-uuid" value="{{ video[0] }}">

                            <p>Please only consider the segment of the video that runs from <b>{{starts[loop.index - 1]}}</b> to <b>{{ends[loop.index - 1]}}</b>.</p>
                            <hr>
                            <p>Action Name: {{video[4]}}</p>
                            <hr>
                            <p>Segment contains <b>correct</b> instance of the desired action?</p>
                            <input type="radio" name="correct-{{ loop.index }}" id="c-{{ loop.index }}-yes" value="1"> <label for="c-{{ loop.index }}-yes" class="l1">Yes</label><br>
                            <input type="radio" name="correct-{{ loop.index }}" id="c-{{ loop.index }}-no" value="0"> <label for="c-{{ loop.index }}-no" class="l3">No</label><br>
                            <hr>
                            <p>Segment contains <b>wrong</b> instance of the desired action?</p>
                            <input type="radio" name="wrong-{{ loop.index }}" id="w-{{ loop.index }}-yes" value="1"> <label for="w-{{ loop.index }}-yes" class="l1">Yes</label><br>
                            <input type="radio" name="wrong-{{ loop.index }}" id="w-{{ loop.index }}-no" value="0"> <label for="w-{{ loop.index }}-no" class="l3">No</label><br>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p hidden id="errorMsg" class="error-txt"></p>

            <div>
                <p class="para-txt center-txt">We are currently piloting this study interface. Please provide any feedback on it below.</p>
                <textarea type="text" class="feedback" name="feedback" id="feedback" rows="3" placeholder="Type your feedback here (optional)"></textarea>
            </div>

            <button type="submit" class="yes-btn bigg-btn">Submit</button>
        </form>

        <script>
            function validateForm() {
                error = document.getElementById('errorMsg');
                error.hidden = true;
                void error.offsetWidth; // force DOM update

                form = document.forms['annotations']
                for (let i = 1; i <= {{ videos | length}}; i++) {
                    if (form[`correct-${i}`].value.length === 0) {
                        error.innerHTML = `ERROR: you must denote if <b>video #${i}</b> contains a <b>correct</b> instance of the action.`;
                        error.hidden = false;
                        return false;
                    }
                    if (form[`wrong-${i}`].value.length === 0) {
                        error.innerHTML = `ERROR: you must denote if <b>video #${i}</b> contains a <b>wrong</b> instance of the action.`;
                        error.hidden = false;
                        return false;
                    }
                }

                error.hidden = true;
                return true;
            }
        </script>
    </div>
</body>

<footer>
    <div class="logos">
        <a href="https://raivn.cs.washington.edu/" target="_blank"> <img class="footer-logo"
                src="{{url_for('static', filename='uw.png')}}" alt="UW CSE RAIVN Lab"> </a>
        <a href="https://allenai.org/" target="_blank"><img class="footer-logo"
                src="{{url_for('static', filename='ai2.png')}}" alt="Ai2"></a>
    </div>
</footer>